<!--templates/connect.html-->

{% extends 'base.html' %}

{% block content %}
<body style="background-color: #CEB8A4;;">
</br>
<h3>Contact Me</h3>
<hr>
</br>

    <p style="font-family:cursive;">Usap tayo kapatid</p>
    <div class="card">
        <meta charset="UTF-8">
        <p style="font-family: 'Courier New';">☎️ 09613647517</p>
        <p style="font-family: 'Courier New';">✉️ <a href="https://mail.google.com/" class="card-link">dsanandres@gbox.adnu.edu.ph</a></p>
        <p style="font-family: 'Courier New';">↪️ Facebook: <a href="https://www.facebook.com/dericcal/" class="card-link">facebook.com/dericcal</a></p>
    </div>   

{% endblock content %}